* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #fdfdfd;
  cursor: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7), auto;

  /* GREY */
  /* background-color: #333647; */
  /* BLUE */
  /* background-color: #ee4035;
  background-color: #19206b;
  */

  /* background-color: #a2dce7;  */

/*    
  overflow: hidden;
  transition: all 0.5s ease;

  background: linear-gradient(230deg, #373B44, #4286f4);
  background-size: 300% 300%; */


  /* background-blend-mode: multiply;
    background-position: 50% 50%;
    background-size: cover; */


  /* background: url(./../img/bg/bg2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */


}

.gradient{
 background-size: 300% 300% !important; 
}

.gradient.purple{
  background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient.red{
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); 
  
}

.gradient.light{
  background: #FC5C7D;  
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient.dark{
  background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient.gray{
  background-color: #485461;
background: linear-gradient(to right, #485461 0%, #28313b 74%);
}


.gradientAnimation{
  
/* ANIMATION TEST */
 
    /* background: -webkit-linear-gradient(to right, #4286f4, #373B44);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #4286f4, #373B44); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  /* margin-top: 21.7%; */
  -webkit-animation: GradientAnimation 15s ease infinite;
  -moz-animation: GradientAnimation 15s ease infinite;
  animation: GradientAnimation 15s ease infinite; 
}


@-webkit-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* body{
  padding-top:470px;
} */

#visualization {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#wrapper{
  position: absolute;
  top:0;
  right:0;
}

#container-particles{
  position:absolute;
  width: 50%;
	height: 100%;
	/* overflow: hidden; */

  right:0;
}

#labels {
  /* font-size: 48px; */
  font-weight: bold;
  position: absolute;  /* let us position ourself inside the container */
  left: 0;             /* make our position the top left of the container */
  top: 0;
  color: white;
  opacity: 1;
  font-family: 'neueBit', sans-serif;

  /* text-transform: uppercase; */

}

#labels>div {
  position: absolute;  /* let us position them inside the container */
  left: 0;             /* make their default position the top left of the container */
  top: 0;
  cursor: pointer;     /* change the cursor to a hand when over us */
  /* font-size: large; */
  user-select: none;   /* don't let the text get selected */
  /* text-shadow:         
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000; */
    
    font-family: 'neueBit', sans-serif;
    color:white;
   
    z-index: 900;
}

.url-text{
 font-size: 38px;
 z-index: 0 !important;
 
}

.service-text{
  font-size: 22px;
  opacity: 0.4;
}


.glishBox.Amazon {
  background-color: orange;
}

.glishBox.Google {
  background-color: Blue;
}

.glishBox.Youtube {
  background-color: red;
}

.glishBox.Gmail {
  background-color: rgb(155, 40, 40);
}

.glishBox.Github {
  background-color: Blue;
}

.glishBox.Twitter {
  background-color: lightblue;
}

.glishBox.Whatsapp {
  background-color: green;
}

.service-text{
  /* fill:#56b3cb; */
  fill:white;
  font-family: 'Roboto', sans-serif;
}

.service-text{
  font-size: 26px;
  word-spacing: 4px;
}


.message{
  position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1s ease;
    z-index: 900;
    padding: 0 10%;

}

.visible{
  opacity: 1;
}


.output {
  text-align:center;
  font-family: 'Roboto', monospace;
  color:white;
} 
.output h1 {
  font-size:148px;
  margin-bottom: 0;
}

.output p{
  font-size: 44px;
}


background-shader{
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
  height: 100%;
  z-index: -1;
}
canvas {
  position: absolute;
  height: 100%;
  
}

#popMessage{
  position: absolute;
  top: 0;
  
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
    font-family: 'Roboto', monospace;
    color: white;
    
}

#innerMessage{
  transition: all 1s ease;
  margin-bottom: 10%;
  /* transform: translateY(50px); */
    opacity:0;
}

#innerMessage.inScreen{
  opacity: 0.5;
  /* transform: transslateY(0px); */
}

#popMessage h1{
  font-size: 48px;
}

#popMessage  p{
  font-size: 26px;
}


#container-legend{
  position:absolute !important;
  width: 100%;
	height: 1200px;
	overflow: hidden;
  position: relative;
  left:0;
}

#iddleMessage {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#iddleMessage.invisible{
  display: none;
}
#iddleButton{
  border: 10px solid white;
    color:white;
    text-decoration: none;
    text-align: center;
    animation: sizeAnimation 5s ease infinite;
    padding: 50px;
    z-index: 999;
}



#iddleButton h1{
  font-family: 'neueBit';
    font-size: 120px;
    margin: 0;
}

#iddleButton p{
  
    font-size: 48px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  
}

@-webkit-keyframes sizeAnimation {
  0%{border: 10px solid white}
  50%{border: 25px solid white}
  100%{border: 10px solid white}
}
@-moz-keyframes sizeAnimation {
  0%{border: 10px solid white}
  50%{border: 25px solid white}
  100%{border: 10px solid white}
}
@keyframes sizeAnimation {
  0%{border: 10px solid white}
  50%{border: 25px solid white}
  100%{border: 10px solid white}
}

.blur{
  filter: blur(2px);
}

.blur-m{
  filter: blur(4px);
}

.flex.center{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  /* justify-content: center; */
  text-align: center;
  /* padding-top: 200px; */
  flex-direction: column;

}
.flex.center h1{
  font-size: 218px;
  font-family: 'neueBit';
  margin-bottom: 50px;
  /* font-family: 'Roboto', sans-serif; */
}



/* TABLE LEGEND */
.flex.center table{
  
  margin-left: auto;
  margin-right: auto;
}

.flex.center span{
display: block;
}

.flex.center table{
border: 5px solid white;
padding: 30px 40px;
}

.flex.center .title span{
font-size: 22px;
display: block;
opacity: 0.5;
}

.flex.center .title{
text-align: right;
font-family: 'Roboto', sans-serif;
font-size: 32px;
width: 80px;
}

.flex.center .imageContainer span{
font-size: 18px;
font-family: 'Roboto', sans-serif;
}

.flex.center .imgLegend{
display: flex;
}

.flex.center .imageContainer{
margin-left: 30px;
}

.flex.center th, td{
padding-bottom: 10px;
}