@font-face {
    font-family: 'Ortica';
    font-weight: bold;
    src: url('./fonts/ortica/Ortica-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/ortica/Ortica-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/ortica/Ortica-Bold.otf') format('truetype');
    /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Ortica';
    font-style: normal;
    src: url('./fonts/ortica/Ortica-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/ortica/Ortica-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/ortica/Ortica-Light.otf') format('truetype');
    /* Safari, Android, iOS */
}

/* roboto-mono-regular - latin */

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-mono/roboto-mono-v7-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Mono'), local('RobotoMono-Regular'), url('./fonts/roboto-mono/roboto-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-regular.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

/* roboto-mono-italic - latin */

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/roboto-mono/roboto-mono-v7-latin-italic.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Mono Italic'), local('RobotoMono-Italic'), url('./fonts/roboto-mono/roboto-mono-v7-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-italic.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

/* roboto-mono-700 - latin */

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/roboto-mono/roboto-mono-v7-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url('./fonts/roboto-mono/roboto-mono-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/roboto-mono/roboto-mono-v7-latin-700.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    text-align: center;
    background-color: thistle;
    /* transition: background-color 0.5s ease; */
}

.animateColor {
    transition: background-color 1000ms linear;
}

.blueBackground {
    background: midnightblue;
}

h1 {
    font-family: 'Ortica', sans-serif;
    font-size: 3.5em;
    font-weight: bold;
}

h2 {
    font-family: 'Ortica', sans-serif;
    font-size: 2em;
    font-weight: normal!important;
}

h3, h4 {
    font-family: 'Ortica', sans-serif;
    font-size: 1.5em;
    font-weight: normal!important;
}

@media only screen and (max-width: 812px) {
    body {
        font-size: 12px;
        overflow: auto !important;
        scroll-snap-align: start;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1em;
    }
    h3, h4 {
        /* font-size: 0.7em; */
    }
    .w3-display-middle {
        margin: 10%;
        position: relative!important;
        top: 0!important;
        left: 0!important;
        transform: none;
    }
    /* html, body {
        margin-top: 1em;
        margin-bottom: 1em;
    } */
    #myFp {
        scroll-snap-align: start;
    }
    #main {
        scroll-snap-align: start;
        margin: auto!important;
        position: absolute!important;
        top: 50%!important;
        left: 50%!important;
        transform: translate(-50%, -50%);
        width: 100%!important;
    }
}

body, html {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

.bgimg {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

button {
    border: none;
    padding: 1em;
    border-radius: 2em;
    color: midnightblue;
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

button:hover {
    padding-right: 2em;
    padding-left: 2em;
}

@media only screen and (max-width: 812px) {
    .w3-large {
        font-size: 10px!important;
    }
}

.linkButton {
    color: white;
    border: none;
    background: none;
    text-decoration: underline solid white;
    cursor: pointer;
    transition: 0.3s;
}

.linkButton:hover {
    padding: 1em;
    border: none;
    background: none;
    text-decoration: underline dotted white;
}

.fpHighlight {
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#fpHighlight.loaded {
    position: fixed;
    background: black;
    color: white;
    font-style: italic;
    padding: 4px 7px;
    width: 250px;
}

#fpHighlight .value {
    font-weight: bolder;
}

/* Main page */

.artBubble {
    border-radius: 10em;
    /* padding: 1em; */
    margin: 3em;
    cursor: pointer;
    color: midnightblue;
    background: white;
    height: 10em;
    width: 10em;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}

.artBubble:hover {
    height: 12em;
    width: 12em;
}

.artBubble .text {
    color: transparent;
    font-size: 0.75em;
    visibility: hidden;
    transition: 0.3s;
}

.artBubble:hover .text {
    color: white;
    visibility: visible;
}

@media only screen and (max-width: 812px) {
    .artBubble {
        height: 6em;
        width: 6em;
        margin: 1em;
    }
}

/* /// Navigation /// */

/* Dropdown Button */

.dropbtn {
    background-color: midnightblue;
    color: white;
    width: 1em;
    height: 1em;
    position: fixed;
    top: 2em;
    left: 2em;
    font-size: 1em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    border-style: solid;
    border-color: midnightblue;
}

/* Dropdown button on hover & focus */

.dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
    border-style: dashed;
    padding: 1em;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    /* position: absolute; */
    position: fixed;
    top: 3em;
    left: 3em;
    background-color: white;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    font-size: 0.7em;
    padding: 1em;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: cornsilk;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

/* /// END Navigation /// */

/* only for main page - different background color of the dot */

.pinkDot {
    background: thistle;
    border-color: thistle;
}

.pinkDot:hover, .pinkDot:focus {
    background-color: transparent;
}

/* /// Consent iframe /// */

#consentInfo {
    width: 50%;
}

@media only screen and (max-width: 812px) {
    #consentInfo {
        width: auto !important;
    }
}

.consent-container {
    position: relative;
    overflow: hidden;
}

.consent-iframe {
    width: 100%;
    height: 50vh;
    border: 0;
}

#emojis {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


/* credit https://codepen.io/noleli/pen/abbeWRL */
.digit {
    /* options */
    --aspectRatio: .57;
    --height: 50px;
    /* this is half the thickness of a segment expressed as a fraction of the height */
    /* change the thickness of the segments by changing the decimal number */
    --segment-thickness: .11;
    --half-segment-minor-dimention: calc(var(--height) * var(--segment-thickness) / 2);
    --segment-spacing: 5%;
    --on-color: rgba(255, 255, 255);
    --off-color: rgba(0, 0, 0, .2);
    
    height: var(--height);
    width: calc(var(--height) * var(--aspectRatio));
    
    margin: 4px;
    
    display: inline-grid;
    grid-template-columns: var(--half-segment-minor-dimention)
       var(--half-segment-minor-dimention)
       1fr
       var(--half-segment-minor-dimention)
       var(--half-segment-minor-dimention);
    grid-template-rows: var(--half-segment-minor-dimention)
       var(--half-segment-minor-dimention)
       1fr
       var(--half-segment-minor-dimention)
       var(--half-segment-minor-dimention)
       1fr
       var(--half-segment-minor-dimention)
       var(--half-segment-minor-dimention);
    
    transform: skew(-3deg);
 }
 
 .digit .segment {
    width: 100%;
    height: 100%;
    line-height: 0;
    display: flex;
    align-items: center;
 }
 
 .digit .segment.segA,
 .digit .segment.segG,
 .digit .segment.segD {
    flex-direction: column;
 }
 
 .digit .segment.segA {
    grid-area: 1 / 2 / 3 / 5;
 }
 
 .digit .segment.segB {
    grid-area: 2 / 4 / 5 / 6;
 }
 
 .digit .segment.segC {
    grid-area: 5 / 4 / 8 / 6;
 }
 
 .digit .segment.segD {
    grid-area: 7 / 2 / 9 / 5;
 }
 
 .digit .segment.segE {
    grid-area: 5 / 1 / 8 / 3;
 }
 
 .digit .segment.segF {
    grid-area: 2 / 1 / 5 / 3;
 }
 
 .digit .segment.segG {
    grid-area: 4 / 2 / 6 / 5;
 }
 
 .digit .segment::before,
 .digit .segment::after {
    display: block;
    content: "";
    box-sizing: border-box;
 }
 
 /* horizontal segments */
 .digit .segment.segA::before,
 .digit .segment.segA::after,
 .digit .segment.segG::before,
 .digit .segment.segG::after,
 .digit .segment.segD::before,
 .digit .segment.segD::after {
    border-right: var(--half-segment-minor-dimention) solid transparent;
    border-left: var(--half-segment-minor-dimention) solid transparent;
    width: calc(100% - var(--segment-spacing)); /* not 100% so there’s spacing between the segments */
    height: 0;
 }
 
 .digit .segment.segA::before,
 .digit .segment.segG::before,
 .digit .segment.segD::before {
    border-bottom: var(--half-segment-minor-dimention) solid var(--off-color);
 }
 
 .digit .segment.segA::after,
 .digit .segment.segG::after,
 .digit .segment.segD::after {
    border-top: var(--half-segment-minor-dimention) solid var(--off-color);
 }
 
 .digit .segment.on.segA::before,
 .digit .segment.on.segG::before,
 .digit .segment.on.segD::before {
    border-bottom: var(--half-segment-minor-dimention) solid var(--on-color);
 }
 
 .digit .segment.on.segA::after,
 .digit .segment.on.segG::after,
 .digit .segment.on.segD::after {
    border-top: var(--half-segment-minor-dimention) solid var(--on-color);
 }
 
 /* vertical segments */
 .digit .segment.segB::before,
 .digit .segment.segB::after,
 .digit .segment.segC::before,
 .digit .segment.segC::after,
 .digit .segment.segE::before,
 .digit .segment.segE::after,
 .digit .segment.segF::before,
 .digit .segment.segF::after {
    border-top: var(--half-segment-minor-dimention) solid transparent;
    border-bottom: var(--half-segment-minor-dimention) solid transparent;
    width: 0;
    height: calc(100% - var(--segment-spacing));
 }
 
 .digit .segment.segB::before,
 .digit .segment.segC::before,
 .digit .segment.segE::before,
 .digit .segment.segF::before {
    border-right: var(--half-segment-minor-dimention) solid var(--off-color);
 }
 
 .digit .segment.segB::after,
 .digit .segment.segC::after,
 .digit .segment.segE::after,
 .digit .segment.segF::after {
    border-left: var(--half-segment-minor-dimention) solid var(--off-color);
 }
 
 .digit .segment.on.segB::before,
 .digit .segment.on.segC::before,
 .digit .segment.on.segE::before,
 .digit .segment.on.segF::before {
    border-right: var(--half-segment-minor-dimention) solid var(--on-color);
 }
 
 .digit .segment.on.segB::after,
 .digit .segment.on.segC::after,
 .digit .segment.on.segE::after,
 .digit .segment.on.segF::after {
    border-left: var(--half-segment-minor-dimention) solid var(--on-color);
 }
 
 /******* so you can add classes to the digit container for numbers *******/
 
 .digit.dig0 .segment.segA::before,
 .digit.dig0 .segment.segA::after,
 .digit.dig0 .segment.segD::before,
 .digit.dig0 .segment.segD::after {
    border-top-color: var(--on-color);
    border-bottom-color: var(--on-color);
 }
 .digit.dig0 .segment.segB::before,
 .digit.dig0 .segment.segB::after,
 .digit.dig0 .segment.segC::before,
 .digit.dig0 .segment.segC::after,
 .digit.dig0 .segment.segE::before,
 .digit.dig0 .segment.segE::after,
 .digit.dig0 .segment.segF::before,
 .digit.dig0 .segment.segF::after {
    border-left-color: var(--on-color);
    border-right-color: var(--on-color);
 }
 
 .digit.dig1 .segment.segB::before,
 .digit.dig1 .segment.segB::after,
 .digit.dig1 .segment.segC::before,
 .digit.dig1 .segment.segC::after {
    border-left-color: var(--on-color);
    border-right-color: var(--on-color);
 }
 
 .digit.dig2 .segment.segA::before,
 .digit.dig2 .segment.segA::after,
 .digit.dig2 .segment.segD::before,
 .digit.dig2 .segment.segD::after,
 .digit.dig2 .segment.segG::before,
 .digit.dig2 .segment.segG::after {
    border-top-color: var(--on-color);
    border-bottom-color: var(--on-color);
 }
 .digit.dig2 .segment.segB::before,
 .digit.dig2 .segment.segB::after,
 .digit.dig2 .segment.segE::before,
 .digit.dig2 .segment.segE::after {
    border-left-color: var(--on-color);
    border-right-color: var(--on-color);
 }
 
 .digit.dig3 .segment.segA::before,
 .digit.dig3 .segment.segA::after,
 .digit.dig3 .segment.segD::before,
 .digit.dig3 .segment.segD::after,
 .digit.dig3 .segment.segG::before,
 .digit.dig3 .segment.segG::after {
    border-top-color: var(--on-color);
    border-bottom-color: var(--on-color);
 }
 .digit.dig3 .segment.segB::before,
 .digit.dig3 .segment.segB::after,
 .digit.dig3 .segment.segC::before,
 .digit.dig3 .segment.segC::after {
    border-left-color: var(--on-color);
    border-right-color: var(--on-color);
 }
 
 .digit.dig4 .segment.segG::before,
 .digit.dig4 .segment.segG::after {
    border-top-color: var(--on-color);
    border-bottom-color: var(--on-color);
 }
 .digit.dig4 .segment.segB::before,
 .digit.dig4 .segment.segB::after,
 .digit.dig4 .segment.segC::before,
 .digit.dig4 .segment.segC::after,
 .digit.dig4 .segment.segF::before,
 .digit.dig4 .segment.segF::after {
    border-left-color: var(--on-color);
    border-right-color: var(--on-color);
 }
 
 .digit.dig5 .segment.segA::before,
 .digit.dig5 .segment.segA::after,
 .digit.dig5 .segment.segD::before,
 .digit.dig5 .segment.segD::after,
 .digit.dig5 .segment.segG::before,
 .digit.dig5 .segment.segG::after {
    border-top-color: var(--on-color);
    border-bottom-color: var(--on-color);
 }
 .digit.dig5 .segment.segC::before,
 .digit.dig5 .segment.segC::after,
 .digit.dig5 .segment.segF::before,
 .digit.dig5 .segment.segF::after {
    border-left-color: var(--on-color);
    border-right-color: var(--on-color);
 }
 
 .digit.dig6 .segment.segA::before,
 .digit.dig6 .segment.segA::after,
 .digit.dig6 .segment.segD::before,
 .digit.dig6 .segment.segD::after,
 .digit.dig6 .segment.segG::before,
 .digit.dig6 .segment.segG::after {
    border-top-color: var(--on-color);
    border-bottom-color: var(--on-color);
 }
 .digit.dig6 .segment.segC::before,
 .digit.dig6 .segment.segC::after,
 .digit.dig6 .segment.segE::before,
 .digit.dig6 .segment.segE::after,
 .digit.dig6 .segment.segF::before,
 .digit.dig6 .segment.segF::after {
    border-left-color: var(--on-color);
    border-right-color: var(--on-color);
 }
 
 .digit.dig7 .segment.segA::before,
 .digit.dig7 .segment.segA::after {
    border-top-color: var(--on-color);
    border-bottom-color: var(--on-color);
 }
 .digit.dig7 .segment.segB::before,
 .digit.dig7 .segment.segB::after,
 .digit.dig7 .segment.segC::before,
 .digit.dig7 .segment.segC::after {
    border-left-color: var(--on-color);
    border-right-color: var(--on-color);
 }
 
 .digit.dig8 .segment.segA::before,
 .digit.dig8 .segment.segA::after,
 .digit.dig8 .segment.segD::before,
 .digit.dig8 .segment.segD::after,
 .digit.dig8 .segment.segG::before,
 .digit.dig8 .segment.segG::after {
    border-top-color: var(--on-color);
    border-bottom-color: var(--on-color);
 }
 .digit.dig8 .segment.segB::before,
 .digit.dig8 .segment.segB::after,
 .digit.dig8 .segment.segC::before,
 .digit.dig8 .segment.segC::after,
 .digit.dig8 .segment.segE::before,
 .digit.dig8 .segment.segE::after,
 .digit.dig8 .segment.segF::before,
 .digit.dig8 .segment.segF::after {
    border-left-color: var(--on-color);
    border-right-color: var(--on-color);
 }
 
 .digit.dig9 .segment.segA::before,
 .digit.dig9 .segment.segA::after,
 .digit.dig9 .segment.segD::before,
 .digit.dig9 .segment.segD::after,
 .digit.dig9 .segment.segG::before,
 .digit.dig9 .segment.segG::after {
    border-top-color: var(--on-color);
    border-bottom-color: var(--on-color);
 }
 .digit.dig9 .segment.segB::before,
 .digit.dig9 .segment.segB::after,
 .digit.dig9 .segment.segC::before,
 .digit.dig9 .segment.segC::after,
 .digit.dig9 .segment.segF::before,
 .digit.dig9 .segment.segF::after {
    border-left-color: var(--on-color);
    border-right-color: var(--on-color);
 }