@font-face {
    font-family: Louise-Regular;
    src: url(fonts/Louise-Regular.woff);
}

@font-face {
    font-family: Inconsolata-Regular;
    src: url(fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: Inconsolata-Medium;
    src: url(fonts/Inconsolata-Medium.ttf);
}

@font-face {
    font-family: Inconsolata-SemiBold;
    src: url(fonts/Inconsolata-SemiBold.ttf);
}

html {
    position: relative; 
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Inconsolata-Regular, sans-serif;
    font-weight: normal;
    line-height: 1.5em;
    font-size: 16px;
    min-height: 100%;
}

body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
  }

.center-horizontally {
    align-items: center;
    display: flex;
    flex-direction: column;
}

span {
    text-align: center;
}

div.header {
    text-align: center;
    padding-top: 2rem;
}

div.content {
    max-width: 42rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    margin-bottom: 8rem;
}

div.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    margin-bottom: 1rem;
}

div.color-mode {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 40px;
    font-family: Louise-Regular, serif;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
    font-family: Inconsolata-Medium, serif;
}

a {
    color: black;
    text-decoration-color: orange;
}

.dark-mode a {
    color: white;
}

a:hover {
    color: orange;
}

br {
    display: block;
    margin: 6.4px 0;
}

br.list {
    margin: 1px;
}

p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

p.italics {
    font-style: italic;
}

table {
   text-align: left;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
}

th, b {
    font-weight: normal;
    font-family: Inconsolata-SemiBold, sans-serif;
    padding-bottom: 0.5rem;
}

td {
    vertical-align: top;
}

.col-left {
   border-right-style: solid;
   border-width: thin;
   padding-right: 2rem;
   width: 50%;
}

.col-right {
   padding-left: 2rem;
   width: 50%;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    height: 1px;
    color: black;
    background-color: black;
}

button {
    border: none;
    color: black;
    background-color: #00000000;
    cursor: pointer;
    font-size: 17px;
}

.dark-mode button {
    color: white;
}

button:hover {
    color: orange;
}

img {
    margin-top: 1rem;
}

pre {
    font-family: Inconsolata-Regular, sans-serif;
    margin-bottom: 1.5rem;
}