body{
  background-color: rgba(17, 24, 39, 100);
}

.NeonLightText {
  position: relative;
  text-shadow: 0 0 20px #fff;
}

.NeonLightText::after {
  content: 'Neon Light Text';
  position: absolute;
  top: 0;
  left: 0;
  color: #F6D465;
  filter: blur(15px);
  z-index: -1;
}
.NeonLightText::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F6D465;
  opacity: .5;
  filter: blur(40px);
  z-index: -2;
}