body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 50%;
}
.col-3 {
  float: left;
  width: 33%;
}

canvas.image {
  width: 70%;
  border: 1px dashed #DDD;
}

pre {
  position: relative;
  margin: auto;
  width: 700px;
  font-size: 17px;
}

.center {
  text-align: center;
}

#progress {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-weight: bolder;
  width: 100%;
  background: white;
  line-height: 35px;

}

#progress .text {
  display: inline;
  padding: 2px 5px;
  color: #000000;
  background: white;
}

#progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

#progress .bar .fill {
  height: 100%;
  width: 50%;
  background: black;
}

.active {
  background-color: rgb(135, 50, 96);
}

.active::after {
  position: absolute;
  right: 5px;
  margin-top: -2px;
  content: attr(value);
  color: rgb(135, 50, 96);
  border: 1px solid rgb(135, 50, 96);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
  padding: 2px;
}

.pixel {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 1px dashed #DDD;
  padding: 5px;
  font-size: 20px;
  margin-top: calc(25% - 37.5px);
}

.pixel .r {
  color: red;
  text-align: right;
}

.pixel .g {
  color: green;
  text-align: right;
}

.pixel .b {
  color: blue;
  text-align: right;
}

.row {
  position: relative;
  display: block;
  clear: both;
}