<h2>Current Question <span class="badge bg-primary text-wrap">until {{gameState.questionEndDate | date:"HH:mm:ss"}}</span></h2>
<p>
  <strong>{{gameState.question.text}}</strong> <br />
  <div class="row text-center">
    <div class="col-5">
      {{gameState.question.answers[0].text}}
    </div>
    <div class="col-auto">or</div>
    <div class="col-5">
      {{gameState.question.answers[1].text}}
    </div>
  </div>
</p>

<h2>Connected players ({{gameState.players.length || 0}})</h2>
<ol>
  <li ng-repeat="player in gameState.players">
    <div class="row">
      <div class="col-2">
        <img ng-src="/img/laureates/{{player.laureate.imagePath}}" style="width: 100%;">
      </div>
      <div class="col-9">
        <h3>{{player.id}}</h3>
        <p>{{player.x}}x{{player.y}}</p>
    </div>
  </li>
</ol>