html, body {
    position: relative;
    margin: 0;
    padding: 0;
    background: rgb(68, 68, 68);
}
canvas {
    filter: blur(20px);
    transition: filter 1s ease;
}
canvas.art {
    filter: blur(0px);
}
#info {
    text-align: center;
    color: white;
}