.sidebar {
  padding: 0;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 56px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.activity {
  content: " ";

  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: red;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.activity.active {
  opacity: 1;
}
