@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
    /* display: none; */
  }
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    /* scrollbar-width: none;   */
    /* Firefox */
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Roboto', sans-serif;
  font-weight: inherit;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;   
}



.background{
    background-color: #02061B;
}

.background-black{
    background-color: #02061B;
    
}

.robotoFont{
    font-family: 'Roboto', sans-serif;
}

.fullHeight{
    height: calc(100vh*5);
}



h1{
    font-family: 'Roboto', sans-serif;
}



#app{
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
}

.content{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100%;
    position: relative;
}


.txt-white{
    color:white;
}
.noColor{
    opacity: 0%;
}

.blur{
    filter:blur(3px);
}
.max-727{
    max-width: 727px;
}

#intro h1{
    font-size: 200px;
    font-weight: 900;
    letter-spacing: 10px;
}

#intro h1 span{
    font-style: italic;
}


#intro li{
    list-style-type: none;
    font-size: 24px;
    text-align: center;
}

#intro a{
    text-decoration: none;
    color:white;
    display: block;
}

#intro a:hover{
    text-decoration: none;
    color:black;
}


.middleInset{
    top: 50%;
    left: 50%;
}

.translateCenter{
    transform: translate(-50%, -50%);
}


#sideMenuWrapper{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0 , -50%);
}

#webSitesWrapper{
    position: absolute;
    top: 0;
    left: 0;
}

.menuText{
    fill: #4d4e50;
    text-anchor: end;
    opacity: 20;
}

.menuText.active{
    fill: #ffffff;
}

.transform-50{
    transform: translate(-50%, -50%);
}

.top-2-4{
    top:50%;
}
.left-2-4{
    left:50%;
}
.webLink{
    cursor:pointer;
}

#twitch-embed {
    position: absolute;
    top:100px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
  }

  .translate-middle{
    transform: translate(0%,-50%);
  }

  g.tick {
    color: white;
}

.white{
    color:white;
}


.text-8xl{
    font-size: 6rem;
line-height: 1;
}


.pt-40{
    padding-top: 10rem;
}

/* Toggle B */
input:checked ~ .dot {
    transform: translateX(130%);
    background-color: #48bb78;
  }

  .w-14{
    width: 3.5rem;
  }

  .top-1{
    top: 0.25rem;
  }

  .cool-gray-400{
    color:#9CA3AF
}