@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body::-webkit-scrollbar {
    /* display: none; */
  }
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    /* scrollbar-width: none;   */
    /* Firefox */
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Roboto', sans-serif;
  font-weight: inherit;
}

/* p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;   
} */



.background{
    background-color: #02061B;
}

.background-black{
    background-color: #02061B;
}



.robotoFont{
    font-family: 'Roboto', sans-serif;
}

.fullHeight{
    height: calc(100vh*5);
}

.top-100{
    top: 100px;
}


h1{
    font-family: 'Roboto', sans-serif;
}






.txt-white{
    color:white;
}
.noColor{
    opacity: 0%;
}

.blur{
    filter:blur(3px);
}
.max-727{
    max-width: 727px;
}

#intro h1{
    font-size: 200px;
    font-weight: 900;
    letter-spacing: 10px;
}

.italic{
    font-style: italic;   
}


#intro li{
    list-style-type: none;
    font-size: 24px;
    text-align: center;
}

#intro a{
    text-decoration: none;
    color:white;
    display: block;
}

#intro a:hover{
    text-decoration: none;
    color:black;
}


.middleInset{
    top: 50%;
    left: 50%;
}

.translateCenter{
    transform: translate(-50%, -50%);
}


#sideMenuWrapper{
    top: 50%;
    right: 0;
    transform: translate(0 , -50%);
}

#webSitesWrapper{
    position: absolute;
    top: 0;
    left: 0;
}

.menuText{
    fill: #4d4e50;
    text-anchor: end;
    opacity: 20;
}

.menuText.active{
    fill: #ffffff;
}

.transform-50{
    transform: translate(-50%, -50%);
}

.top-2-4{
    top:50%;
}
.left-2-4{
    left:50%;
}
.webLink{
    cursor:pointer;
}

#twitch-embed {
    position: absolute;
    top:100px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
  }

  .translate-middle{
    transform: translate(0%,-50%);
  }

  g.tick {
    color: white;
}

.white{
    color:white;
}

.black{
    color:#02061B;
}


.text-8xl{
    font-size: 6rem;
line-height: 1;
}


.pt-40{
    padding-top: 10rem;
}

/* Toggle B */
input:checked ~ .dot {
    transform: translateX(130%);
    background-color: #48bb78;
  }

  .w-14{
    width: 3.5rem;
  }

  .top-1{
    top: 0.25rem;
  }

  .cool-gray-400{
    color:#9CA3AF
  }

#chatButton {
    position: fixed;
    bottom: 175px;
    right: 20px;
    width: 30px;
    height: 30px;
}

/*Mini Chat view*/
#chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 250px;
    height: 175px;
    background-color:#2F3345;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
}
#chat.full {
    right: 0;
    bottom: 0;
    left: initial;
    height: 100%;
}
#emojis  {
background-color: #5C6074;
padding: 5px 10px;
}
#emojis .emoji {
    float: left;
    cursor: pointer;
}
#messages {
    height: 100%;
    padding: 10px;
    overflow: scroll;
}
.message {
    min-height: 50px;
    display:flex;
    align-items:center;
    flex-direction: row;
    place-content: space-evenly;
}
.message .chat-text {
    width: calc(100% - 55px);
    margin: 0;
    margin-left: 5px;
    padding: 8px;
    padding-right: 10px;
    background-color: #5C6074;
    color:white;
    border-radius: 0.375rem;
    text-align:right;
}
.message .icon {
    width: 40px;
    height: 40px;
    background-size: 100%;
    border-radius: 0.375rem;
    float: left;
}

#messageInp{
    height: 2.75rem;
    padding: 8px
}

#closeBtn {
    top: -20px;
    height: 30px;
    width: 20px;
}

/* Emoji party */
.floating-emoji {
    position: fixed;
    color: white;
    z-index: 999999;
    text-align: right;
    font-size: 0.875rem;
    line-height: 3rem;

}
.floating-emoji span {
    font-size: 50px;
}
/* meet the artists */
.flex-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.right {
    width: 400px;
}
#stream {
    width: 100%;
    height: 100%;
}
#votes {
    /* height: 200px; */
    width: 100%;
}
.vote-website {
   
    margin: 4px;
    padding: 7px 15px;
    text-align: center;
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.vote-website .voters .icon {
    width: 15px;
    height: 15px;
    background-size: 100%;
    border-radius: 5px;
    float: left;
    margin: 2px;
}

#vote_time {
    position: absolute;
    top: 40px;
    right: 0px;
    font-size: 50px;
    background-color: white;
    padding: 0 10px;
}

.top-2-4{
    top:50%;
}

.-translate-y-2-4{
    transform: translate(0 , -50%);
}
.-top-20{
    top: -36%;
}
.-left-5{
    left: -5%;
}

.h-100 {
    height: 100%;
}