:root {
  --main-color: #03A062;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: var(--main-color);
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 850px;
  margin-top: calc((100vh - 850px)/2);
}

.w-70 {
  width: 70%;
}

h3 {
  margin: 0;
  margin-bottom: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 50%;
}

.col-3 {
  float: left;
  width: 33%;
}

canvas.image {
  width: 70%;
  border: 1px dashed var(--main-color);
  image-rendering: pixelated;
}

.box {
  position: relative;
  margin: auto;
  border: 1px solid var(--main-color);
}

.box .title {
  font-size: 20px;
  padding: 3px 5px;
  border-bottom: 1px solid var(--main-color);
  text-align: center;
  font-weight: bold;
}

.box .content {
  padding: 3px 5px;
}

.code {
  font-family: monospace;
  font-size: 17px;
}

.code .lines {
  display: inline-block;
  border-right: 1px solid var(--main-color);
  width: 25px;
  text-align: right;
  padding: 3px;
}

.code pre {
  display: inline-block;
  margin: 0;
}

#bg {
  display: block;
  margin: 0 auto;
  opacity: 0.4;
}

.center {
  text-align: center;
}

#progress {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: bolder;
  width: 100%;
  border-top: 1px solid var(--main-color);
  line-height: 35px;
}

#progress .text {
  display: inline;
  padding: 2px 5px;
  background: var(--main-color);
  color: white;
}

#progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#progress .bar .fill {
  height: 100%;
  width: 50%;
  background: var(--main-color);
}

span.active {
  color: white;
  background-color: var(--main-color);
}

span.active::after {
  position: absolute;
  right: 5px;
  margin-top: -2px;
  content: attr(value);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
  padding: 2px;
}

.pixel {
  display: inline-block;
  width: 55px;
  height: 55px;
  border: 1px dashed var(--main-color);
  padding: 5px;
  font-size: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.label {
  display: inline-block;
  width: 33%;
  font-size: 20px;
}

.r,
.g,
.b {
  display: inline-block;
  width: 85px;
  text-align: right;
  font-size: 25px;
}

.r {
  color: red;
}

.g {
  color: green;
}

.b {
  color: blue;
}

.row {
  position: relative;
  display: block;
  clear: both;
}

#idle,
#execution,
#filters {
  width: 100%;
}

#transformation {
  position: absolute;
  top: 0;
  margin-top: 100px;
  left: calc(50% - 140px);
  width: 270px;
  height: 200px;
  padding: 5px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#canvas_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#parent-container {
  transition: 1s ease-in-out;
}

#filters.done .col {
  transition: .25s ease-in-out;
  opacity: 0;
}

#filters.done .col:last-child {
  opacity: 1;
  transform: scale(1.5);
  transform: translate(-50%, 0%);
}

.capture {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#webcam {
  margin: auto;
  width: 100%;
  height: 100%;
}

.timer {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  font-size: 150px;
  padding: 0 20px;
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: 25px;
}

#idle {
  position: relative;
  width: 100%;
}

#idle .bg {
  display: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

#idle .content {
  padding-left: 25%;
}

#idle .title {
  font-family: monospace;
  font-size: 200px;
  margin-bottom: 55px;
  margin-left: -5%;
}

#idle .description {
  font-size: 50px;
}

.hand-wheel {
  position: absolute;
  right: 10%;
  bottom: -130px;
  width: 300px;
  height: 300px;
  float: right;
  animation: rotation 10s infinite linear;
}

#overlay_body {
  font-size: 100px;
  visibility: hidden;
}

#overlay_body.active {
  visibility: inherit;
  background-color: rgba(0, 0, 0, 0.4);
}

.hand-wheel img {
  width: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}