* {
  box-sizing: border-box;
}

@font-face {
  font-family: "FT88";
  src: local(fonts/FT88-Regular.otf);
}

:root {
  --main-color: rgba(0, 200, 255, 1);
  --transparent-dark-grey: rgba(30, 30, 30, 0.85);
  /* --main-bg: #040824; */
  --main-bg: #000;
  /* --main-bg-transparent: rgba(4, 8, 36, 0.6); */
  --main-bg-transparent: rgba(255, 255, 255, 0.5);
  --secondary-color: #ffffff;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg);
  image-rendering: pixelated;
  position: relative;
  overflow: hidden;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.box {
  position: relative;
  margin: auto;
  border: 1px solid var(--secondary-color);
}

.box .title {
  font-size: 30px;
  padding: 3px 5px;
  /* border-bottom: 1px solid var(--main-color); */
  text-align: center;
  font-weight: bold;
}

.box .content {
  padding: 3px 5px;
  width: 100%;
}

.panel {
  position: relative;
  width: 100%;
  height: 20%;
  padding: 0px 4px;
}

.right-panel {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  /* background-color: var(--main-bg-transparent); */
  background-color: black;
  /* margin: 0 25px; */
  padding: 0;
}
.code-panel {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--main-bg-transparent); */
  /* margin: 0 25px; */
  padding: 0;
}

span.active {
  color: var(--main-color);
  /* background-color: white; */
  /* font-size: 20px; */
  font-weight: bold;
}

span::after {
  display: none;
  position: absolute;
  right: 5px;
  margin-top: -15px;
  content: attr(value);
  color: var(--main-color);
  /*border: 1px solid var(--main-color);*/
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  padding: 2px;
  font-size: 25px;
}

span.active::after {
  display: block;
}

#code,
#execution {
  display: inline-block;
  font-family: monospace;
  font-size: 25px;
  line-height: 35px;
  tab-size: 3px;
  margin-top: 15px;
  width: calc(60% - 4px);

  color: var(--secondary-color);
}

#execution {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 4px;
  text-align: left;
  margin: 1em;
  column-count: 3;
  column-fill: auto;
}

#code .keyword {
  font-weight: bold;
}

#code .lines {
  /*font-family: sans-serif;*/
  display: inline-block;
  border-right: 1px solid var(--main-color);
  width: 35px;
  text-align: right;
  padding: 3px;
}

#code pre {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: calc(100% - 55px);
  white-space: pre-wrap;
}

.progress {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: bolder;
  width: 100%;
  /* height: 25px; */
  /* border: 1px solid var(--secondary-color); */
  line-height: 50px;
  font-family: monospace;
  font-size: 36px;
}

.progress .text {
  /* position: absolute; */
  color: var(--secondary-color);
  /* width: 100%; */
  text-align: center;
  left: 0;
  /* top: -100px; */
  font-weight: 200;
  padding: 0.25rem 1rem;
  font-size: 0.5em;
}

.progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.progress .bar .fill {
  height: 100%;
  width: 50%;
  background: var(--transparent-dark-grey);
}

#cpu-widget-container {
  height: auto;
  width: auto;
  display: flex;
  color: var(--secondary-color);
  font-family: monospace;
  font-size: 18px;
  font-weight: 200;
  align-items: center;
}
#cpu-widget {
  height: 20px;
  width: 100px;
  display: flex;
  color: var(--secondary-color);
  font-family: monospace;
  font-size: 18px;
  font-weight: 200;
  align-items: flex-end;
}

.cpu-bar {
  width: 5px;
  background-color: lightgreen;
  height: 2px;
  margin: 2px;
}

#speed {
  position: relative;
  z-index: 0;
}

#speed.active {
  transition: top 0.2s linear;
  position: fixed;
  z-index: 9999;
  margin: 0 25px;
  width: calc(100% - 50px);
}

#timer {
  color: white;
  font-size: 100px;
  animation: anim-bigger-text 1s infinite;
}
@keyframes anim-bigger-text {
  0% {
    font-size: 100px;
  }
  70% {
    font-size: 3000px;
  }
}

#welcome {
  position: absolute;
  top: 0;
  color: white;
  font-size: 50px;
}

#welcome .title {
  font-size: 70px;
  font-weight: bold;
  font-family: monospace;
  font-size: 200px;
  margin-bottom: 55px;
  transition: opacity 2s;
  opacity: 1;
}

#welcome .description {
  font-size: 50px;
}

.hand-wheel {
  position: absolute;
  right: -300px;
  bottom: -150px;
  width: 300px;
  height: 300px;
  float: right;
  animation: rotation 10s infinite linear;
}

.hand-wheel img {
  max-width: 100%;
  max-height: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

#overlay {
  font-family: monospace;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-size: 50px;
  text-align: center;
  opacity: 0;
}

#overlay.active {
  opacity: 1;
}

div.selected {
  font-size: 70px;
  color: rgba(255, 255, 255, 1);
}

#instruction {
  color: white;
  font-size: 7em;
  font-family: FT88;
  bottom: 60px;
  position: absolute;
  opacity: 1;
}

.fade-out {
  transition: opacity 2s !important;
  opacity: 0 !important;
}

pre {
  margin: 0;
  display: inline;
}
pre code.hljs {
  padding: 0;
  background: inherit;
  tab-size: 3;
}
