
#header-P5{
    position: relative;
    overflow: hidden;
}
body#RFC h1{
    font-size: 5em;
    margin-bottom: 30px;
}

body#RFC h3,h1,h2,h4, h5{
    font-family: 'Anton';
}

#header-P5 {
    /* background-color: #6a71f7; */
    background-color: black;
    color: #d1e5f9;
    padding: 4.5em 0 2.5em 0;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    /* background-image: url("images/overlay.png"), url("images/pattern-size1.svg"); */
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    height: 50vw;
    width: 100%;
    /* min-height: 35em; */
}


.canvasClass{
    position: absolute;    
    width: 100%;
    height: 50vw;
}


#google-map{
    margin-left: 20px;
}


body#RFC .spotlight .image{
    width: 60%;
    height: auto;
}

.wrapper-d3{
    /* width:350px;
    height: 500px; */
    position: relative;
    margin: 0 20px;
}

.no-margin{
    margin:10px 0;
}


.tooltip{
    opacity: 0;
    position: absolute;
    top: -12px;
    left: 0;
    background:white;
    text-align: center;
    border: 1px solid  #ddd;
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
   
}

.tooltip:before{
    content:'';
    position: absolute;
    bottom:0;
    left: 50%;
    width:12px;
    height:12px;
    background:white;
    border: 1px solid #ddd;
    border-top-color:transparent;
    border-left-color:transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}

.line {
    fill: none;
    stroke: #333333;
    stroke-width: 1;
}

body#RFC #movements h1{
    font-size: 4.3em;
}

body#RFC  h5{
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 5px;

}

body#RFC #movements img{
   
        width: 40%;
        height: auto;
        border-radius: 50%;
        margin-left: 30px;
    
}
.dayDate path{
    stroke:none;
}
.dayDate line{
    stroke:none;
}

.dayDate text{
    font-size:16px;
}



.titleDate{
    font-size:20px;
    font-weight: 500;
    fill:black;
}

.titleNumber{
    font-size:20px;
    font-weight: 500;
    fill:black;
}

.mainTittle{
    font-size: 30px;
}

.triangle{
    fill:#1a0016;
}

