h1{
    font-size: 160px;
}


.list{
    font-size: 32px;
    list-style-type: none;
}
.list li{
    margin-bottom: 20px;
    margin-bottom: 50px;
    /* font-weight: 600; */
}

.list.en{
    color:rgb(65, 65, 65);
}