@font-face {
    font-family: 'neueBit';
    src: url('./../fonts/NeueBit-Bold.woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    max-height: 100%;
  }

  .center{
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 100%;
}

button{
    font-size:190px;
    font-family: 'neueBit';
    padding: 80px;
    border-radius: 15px;
    border: 10px solid black;
}

a{
    color:black;
    text-decoration: none;
}