

body{
    font-family: 'Roboto', sans-serif;
    background-color: #a2dce7;

}
h1, h2{
    font-family: 'Roboto', sans-serif;
    font-family: 'neueBit';
}

span{
    font-size:28px;
    font-family: 'neueBit';
}

h1{
    font-size: 240px;
    margin:0;
}
h2{
    font-size: 48px;
    margin:0;
}
p{

    font-family: 'Roboto', sans-serif;
    font-size:24px;
}

.credits{
    line-height: 24px;
    font-size: 14px;;

}

.credits a{
    font-size:24px;
    font-family: 'neueBit';
    /* text-decoration: none; */
    color: black;
}
.credits .divider{
    background: none ;
}

.header{
    display: flex;
    flex-flow: column;
}

.container{ 
    display: flex;
    flex-flow: column;
    width: 60%;
    margin: 5% auto;
    background:transparent;
    padding: 50px;
    border-radius: 5px;
}

#container-particles{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
      /* overflow: hidden; */
}


.flex-col{
    display: flex;
}

.spacer{
    height:20px;
}

.spacer-m{
    height:40px;
}
.spacer-l{
    height:60px;
}

.spacer-l{
    height:60px;
}

.spacer-xl{
    height:80px;
}

.spacerW{
    width:100px;
    display: block;
}

.lang-se{
    color: black;
}

.divider {
    width: 10px;
    margin: 30px  24px;
    background: black;
  }

  .item{
    flex: 0 1 auto;
    line-height: 32px;
  }

  .item.h{
      width: 45%;
  }

  .divider.h{
      width:2px
  }
  .btn-container{
      display: flex;
      flex-wrap: wrap;

  }

  .links-btn{
    flex-basis: 150px;
    flex-grow: 1;
    text-align: center;
    min-height: 100px;
    /* background-color: gray; */
    margin: 10px;
    border-radius: 5px;

    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;


  }

.btn-dice{
    background-image: url(./../img/dice.jpg);
    background-color: white;
}
.btn-dn{
    background-image: url(./../img/dnlogo.png);
    /* background-size: 0px; */
}

.btn-svt{
    background-image: url(./../img/svt.png);
    /* background-size: 90px; */

}
.btn-tekniska{
    background-image: url(./../img/tekniska.png);
    background-size: 140px;
        background-color: black;

}

.btn-google{
    background-image: url(./../img/google.png);
    background-size: 80px;
}
.btn-challenge{
    background-image: url(./../img/challenge.png);
    background-size: 180px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ad5389;

}

.item a{
    font-size: 32px;
    font-family: 'neueBit';
    color: black;
    
}

.btn-googleMap{
    background-image: url(./../img/map.google.png);
    background-size: 80px;
    
}

.btn-mapOpen{
    background-image: url(./../img/map.openMap.png);
    background-size: 80px;
  
}

.btn-mapBin{
    background-image: url(./../img/map.bing.png);
    background-size: 190px;
  
}

.btn-natSweden{
    background-image: url(./../img/flag.sweden.png);
    background-size: 190px;
}

.btn-natRussia{
    background-image: url(./../img/flag.russia.png);
    background-size: 190px;
}
.btn-natAfrica{
    background-image: url(./../img/flag.southAfrica.png);
    background-size: 190px;
}
.btn-natCuba{
    background-image: url(./../img/flag.cuba.png);
    background-size: 190px;
}
.btn-natNigeria{
    background-image: url(./../img/flag.nigeria.png);
    background-size: 190px;
}
.btn-natKorea{
    background-image: url(./../img/flag.korea.png);
    background-size: 190px;
}

.btn-servYoutube{
    background-image: url(./../img/google.youtube.png);
    background-size: 190px;
}

.btn-newsDN{
    background-image: url(./../img/dnlogo.png);
    background-size: 190px;
}
.btn-newsAfton{
    background-image: url(./../img/news.afton.png);
    background-size: 190px;
}
.btn-newsBBC{
    background-image: url(./../img/news.bbc.png);
    background-size: 190px;
}
.btn-newsNPR{
    background-image: url(./../img/new.npr.png);
    background-size: 190px;
}

.btn-comLego{
    background-image: url(./../img/comercial.lego.png);
    background-size: 190px;
}
.btn-comIkea{
    background-image: url(./../img/commercial.ikea.png);
    background-size: 190px;
}
.btn-comAmazon{
    background-image: url(./../img/commercial.amazon.png);
    background-size: 190px;
}

.btn-searchGoogle{
    background-image: url(./../img/google.png);
    background-size: 90px;
}
.btn-searchDuck{
    background-image: url(./../img/search.duck.png);
    background-size: 90px;
}
.btn-searchWiki{
    background-image: url(./../img/search.wiki.png);
    background-size: 90px;
}


.btn-sosTik{
    background-image: url(./../img/social.tiktok.svg);
    background-size: 90px;
}

.btn-sosInst{
    background-image: url(./../img/social.insta.png);
    background-size: 90px;
}
.btn-sosTwit{
    background-image: url(./../img/social.twitter.png);
    background-size: 90px;
}
.btn-sosFace{
    background-image: url(./../img/social.facebook.png);
    background-size: 90px;
}

.btn-moreCastor{
    background-image: url(./../img/more.castor.png);
    background-size: 90px;
}

.btn-moreReth{
    background-image: url(./../img/more.rethArt.png);
    background-size: 150px;
}
.btn-moreKTH{
    background-image: url(./../img/more.kth.png);
    background-size: 90px;
}
.btn-moreWasp{
    background-image: url(./../img/more.wasp.png);
    background-size: 120px;
}


background-shader{
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  canvas {
    position: absolute;
    top: 0;
  }