* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #fdfdfd;

  /* GREY */
  /* background-color: #333647; */
  /* BLUE */
  /* background-color: #ee4035;
  background-color: #19206b;
  */

  /* background-color: #a2dce7;  */

/*    
  overflow: hidden;
  transition: all 0.5s ease;

  background: linear-gradient(230deg, #373B44, #4286f4);
  background-size: 300% 300%; */


  /* background-blend-mode: multiply;
    background-position: 50% 50%;
    background-size: cover; */


  /* background: url(./../img/bg/bg2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */


}

.gradient{
 background-size: 300% 300% !important; 
}

.gradient.purple{
  background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.gradient.red{
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); 
  
}

.gradient.light{
  background: #FC5C7D;  
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient.dark{
  background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.gradientAnimation{
  
/* ANIMATION TEST */
 
    /* background: -webkit-linear-gradient(to right, #4286f4, #373B44);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #4286f4, #373B44); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  /* margin-top: 21.7%; */
  -webkit-animation: GradientAnimation 15s ease infinite;
  -moz-animation: GradientAnimation 15s ease infinite;
  animation: GradientAnimation 15s ease infinite; 
}


@-webkit-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* body{
  padding-top:470px;
} */

#visualization {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#wrapper{
  position: absolute;
  top:0;
  right:0;
}

#container-particles{
  position:absolute !important;
  width: 50%;
	height: 100vh;
	overflow: hidden;
  position: relative;
  right:0;
}

#labels {
  /* font-size: 48px; */
  font-weight: bold;
  position: absolute;  /* let us position ourself inside the container */
  left: 0;             /* make our position the top left of the container */
  top: 0;
  color: white;
  opacity: 1;
  font-family: 'neueBit', sans-serif;

  /* text-transform: uppercase; */

}

#labels>div {
  position: absolute;  /* let us position them inside the container */
  left: 0;             /* make their default position the top left of the container */
  top: 0;
  cursor: pointer;     /* change the cursor to a hand when over us */
  /* font-size: large; */
  user-select: none;   /* don't let the text get selected */
  /* text-shadow:         
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000; */
    
    font-family: 'neueBit', sans-serif;
    color:white;
   
    z-index: 900;
}

.url-text{
 font-size: 38px;
 
}

.service-text{
  font-size: 22px;
  opacity: 0.4;
}


.glishBox.Amazon {
  background-color: orange;
}

.glishBox.Google {
  background-color: Blue;
}

.glishBox.Youtube {
  background-color: red;
}

.glishBox.Gmail {
  background-color: rgb(155, 40, 40);
}

.glishBox.Github {
  background-color: Blue;
}

.glishBox.Twitter {
  background-color: lightblue;
}

.glishBox.Whatsapp {
  background-color: green;
}

.service-text{
  /* fill:#56b3cb; */
  fill:white;
  font-family: 'Roboto', sans-serif;
}

.service-text{
  font-size: 26px;
  word-spacing: 4px;
}


.message{
  position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1s ease;
    z-index: 900;
    padding: 0 10%;

}

.visible{
  opacity: 1;
}





.output {
  text-align:center;
  font-family: 'Roboto', monospace;
  color:white;
} 
.output h1 {
  font-size:148px;
  margin-bottom: 0;
}

.output p{
  font-size: 44px;
}
background-shader{
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
  height: 100%;
  z-index: -1;
}
canvas {
  position: absolute;
  top: 0;
}