* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #fdfdfd;
  cursor: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7), auto;
  transition: all 1s ease;
  /* background: #111 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat; */

  /* background-size: 36px 36px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
  /* background-size: 40px 40px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px); */
  /* GREY */
  /* background-color: #333647; */
  /* BLUE */
  /* background-color: #ee4035;
  background-color: #19206b;
  */

  /* background-color: #a2dce7;  */

/*    
  overflow: hidden;
  transition: all 0.5s ease;

  background: linear-gradient(230deg, #373B44, #4286f4);
  background-size: 300% 300%; */


  /* background-blend-mode: multiply;
    background-position: 50% 50%;
    background-size: cover; */


  /* background: url(./../img/bg/bg2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */


}
h3 {
	color: #bfbfbf;
	font-size: 23pt;
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.iceland-regular {
    font-family: 'neueBit', sans-serif;
  /* font-family: "IBM Plex Mono", serif; */
  /* font-family: "Iceland", sans-serif; */
  font-weight: 300;
  font-style: normal;
  font-size: 20pt;
  line-height: 1.15;
}
/* HTML: <div class="grid-lines"></div> */
.grid-lines {
  --s: 21px;  /* control the size of the grid */
  --n: 4;     /* control the granularity */
  --t: 1px;   /* the thickness */
  --g: 4px;  /* the gap between dashes */
  
  --c:#556270 4%,#000 0;
  background: 
    conic-gradient(at var(--g) var(--t),var(--c))
     calc((var(--s)/var(--n) - var(--g) + var(--t))/2) 0/
     calc(var(--s)/var(--n)) var(--s),
    conic-gradient(from 180deg at var(--t) var(--g),var(--c))
     0 calc((var(--s)/var(--n) - var(--g) + var(--t))/2)/
     var(--s) calc(var(--s)/var(--n));
  /* you probably don't need to set any size in your case */
  width: calc(round(down,100%,var(--s)) + var(--t));
  height: calc(4*var(--s) + var(--t));
}

.gradient{
 background-size: 300% 300% !important; 
}

.gradient.yellow{
  background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient.green{
  background: #00b09b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.gradient.sunset{
  background: #FC354C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient.juiciOrange{
  background: #FF8008;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient.juiciOrange{
  background: #FF8008;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient.blue{
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}



.gradient.red{
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); 
  
}

.gradient.light{
  background: #FC5C7D;  
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient.dark{
  background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.gradient.gray{
  background-color: #485461;
  background: linear-gradient(to right, #485461 0%, #28313b 74%);
}


.gradientAnimation{
  
/* ANIMATION TEST */
 
    /* background: -webkit-linear-gradient(to right, #4286f4, #373B44);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #4286f4, #373B44); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  /* margin-top: 21.7%; */
  -webkit-animation: GradientAnimation 60s ease infinite;
  -moz-animation: GradientAnimation 60s ease infinite;
  animation: GradientAnimation 60s ease infinite; 
}


@-webkit-keyframes GradientAnimation {
  0%{background-position:10% 50%}
  50%{background-position:90% 50%}
  100%{background-position:10% 50%}
}
@-moz-keyframes GradientAnimation  body{
  background-color: black;
} }
}
@keyframes GradientAnimation {
  0%{background-position:10% 50%}
  50%{background-position:90% 50%}
  100%{background-position:10% 50%}
}

.bgBlue{
  background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bgRed{
  background: #DA4453;
}
.bgImage{
  
  background-image: url("../img/bg/bg7.png");
  background-blend-mode: multiply;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}

#visualization {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#wrapper{
  position: absolute;
  top:0;
  right:0;
}

#container-particles{
  position:absolute;
  width: 60%;
	height: 100%;
	/* overflow: hidden; */
  /* margin-top: 470px; */
  right:0;
}

#labels {
  /* font-size: 48px; */
  font-weight: bold;
  position: absolute;  /* let us position ourself inside the container */
  left: 0;             /* make our position the top left of the container */
  top: 0;
  color: white;
  opacity: 1;
  font-family: 'neueBit', sans-serif;
  /* text-transform: uppercase; */

}

#labels>div {
  position: absolute;  /* let us position them inside the container */
  left: 0;             /* make their default position the top left of the container */
  top: 0;
  cursor: pointer;     /* change the cursor to a hand when over us */
  /* font-size: large; */
  user-select: none;   /* don't let the text get selected */
  /* text-shadow:         
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000; */
    
    font-family: 'neueBit', sans-serif;
    color:white;
   
    z-index: 900;
}

.url-text{
 font-size: 38px;
 z-index: 0 !important;
 
}

.service-text{
  font-size: 24px;
  opacity: 0.6;
}


.glishBox.Amazon {
  background-color: orange;
}

.glishBox.Google {
  background-color: Blue;
}

.glishBox.Youtube {
  background-color: red;
}

.glishBox.Gmail {
  background-color: rgb(155, 40, 40);
}

.glishBox.Github {
  background-color: Blue;
}

.glishBox.Twitter {
  background-color: lightblue;
}

.glishBox.Whatsapp {
  background-color: green;
}

.service-text{
  /* fill:#56b3cb; */
  fill:white;
  font-family: 'Roboto', sans-serif;
}

.service-text{
  font-size: 26px;
  word-spacing: 4px;
}


.message{
  position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1s ease;
    z-index: 900;
    padding: 0 10%;

}

.visible{
  opacity: 1;
}


.output {
  text-align:center;
  font-family: 'Roboto', monospace;
  color:white;
} 
.output h1 {
  font-size:90px;
  margin-bottom: 0;
}

.output p{
  font-size: 44px;
}


background-shader{
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
  height: 100%;
  z-index: -1;
}
canvas {
  position: absolute;
  /* height: 100%; */
  
}

#popMessage{
  position: absolute;
  top: 0;
  
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
    font-family: 'Roboto', monospace;
    color: white;
    
}

#innerMessage{
  /* transition: all 1s ease; */
  margin-bottom: 15%;
  /* transform: translateY(50px); */
    opacity: 0;
}

#innerMessage.inScreen{
  opacity: 1;
  /* transform: transslateY(0px); */
}

#popMessage h1{
  font-size: 48px;
}

#popMessage  p{
  font-size: 26px;
}

#container{
    /* margin-top: 470px; */
    position: absolute;
}

#container-legend{
  position:absolute !important;
  width: 100%;
	height: 1200px;
	overflow: hidden;
  position: relative;
  left:0;
}

#iddleMessage {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#iddleMessage.invisible{
  display: none;
}
#iddleButton{
  border: 10px solid white;
    color:white;
    text-decoration: none;
    text-align: center;
    animation: sizeAnimation 5s ease infinite;
    padding: 50px;
    z-index: 999;
}



#iddleButton h1{
  font-family: 'neueBit';
    font-size: 120px;
    margin: 0;
}

#iddleButton p{
  
    font-size: 48px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  
}

@-webkit-keyframes sizeAnimation {
  0%{border: 10px solid white}
  50%{border: 25px solid white}
  100%{border: 10px solid white}
}
@-moz-keyframes sizeAnimation {
  0%{border: 10px solid white}
  50%{border: 25px solid white}
  100%{border: 10px solid white}
}
@keyframes sizeAnimation {
  0%{border: 10px solid white}
  50%{border: 25px solid white}
  100%{border: 10px solid white}
}

.blur{
  filter: blur(2px);
}

.blur-m{
  filter: blur(4px);
}

.flex.center{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  /* justify-content: center; */
  text-align: center;
  /* padding-top: 200px; */
  flex-direction: column;

}

.flex.center h1{
  font-size: 218px;
  font-family: 'neueBit';
  margin-bottom: 50px;
  /* font-family: 'Roboto', sans-serif; */
}

.flex.center h3{
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  /* width: 100px; */
}

.flex.center .group{
  /* text-align: right; */
  min-height: 120px;
  display: flex;
  justify-content: center;
}

.flex.center canvas{
  height: 100px;
}

.flex.column{
  display:flex;
  flex-direction: column;
  margin-left: 20px;
}

.flex.column img{
  margin-bottom: 10px;
  width: auto;
}

.flex.column span{
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}
