:root {
  /* Set neon color */
  --neon-green: #73f54b;
  --neon-pink: #f09;
  --neon-blue: #c4ffff;
  --neon-purple: #7325f0;
  --neon-yellow: #f6d465;
  --tw-space-x-reverse: 0;
  --tw-space-y-reverse: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #202936;
}

.board {
  position: relative;
  margin: auto;
}

/* .chess1 {
  background: repeating-conic-gradient(#202936 0% 25%, #121826 0% 50%) 50% /
    200px 200px;
}

.chess2 {
  background: repeating-conic-gradient(#121826 0% 25%, #202936 0% 50%) 50% /
    200px 200px;
} */

.question {
  position: absolute;
  width: 594px;
  height: 94px;
  left: calc(50% - 300px);
  top: 300px;
  color: white;
  text-align: center;
  /* line-height: 90px; */
  font-size: 45px;
  text-transform: uppercase;
  /* animation: pulsate 0.11s ease-in-out infinite alternate; */
  padding: 0 0.025em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.questionAnswer {
  position: absolute;
  background-color: #202936;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 36px;
  text-transform: uppercase;
  /* animation: pulsate 0.11s ease-in-out infinite alternate; */

  padding: 0 0.025em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.questionAnswer .a {
  font-size: 70px;
}
.questionAnswer .q {
  margin-bottom: 100px;
}
.answer {
  position: absolute;
  width: 200px;
  height: 100px;
  text-align: center;
  /* line-height: 50px; */
  font-size: 42px;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  /* animation: pulsate 0.11s ease-in-out infinite alternate; */
  color: #07080a;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.answer1 {
  left: 100px;
  top: 450px;
}
.answer2 {
  right: 0px;
  top: 100px;
}

/* 
@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
} */

.result {
  position: absolute;
  top: 0;
  width: 100%;
}

.result .q {
  margin-top: 30px;
  text-align: center;
  line-height: 50px;
  font-size: 36px;
  text-transform: uppercase;
}

.result .a {
  margin-top: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
}

.players {
  display: flex;
  margin-top: 60px;
}

.group {
  width: 50%;
  height: auto;
  display: flex;
  padding: 0 20px 20px 20px;
  justify-items: center;
  place-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 20px;
}
.group.correct {
  background-color: var(--neon-green);
}
.group.wrong {
  background-color: var(--neon-pink);
}
.group .player img {
  width: 100px;
  height: auto;
}
.timer {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 5em;
}
.demo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-items: center;
  place-content: center;
  /* flex-wrap: wrap; */
  text-align: center;
  font-size: 3.9em;
}
.demo .sub {
  margin-bottom: 20px;
  font-size: 1.9em;
  font-weight: 100;
}

.demo .info {
  font-size: 2.5rem;
  font-weight: 100;
}

.demo .brand {
  margin-top: 0.5rem;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 3rem;
  line-height: 1;
}
.logos {
  margin-top: 10px;
}
.logos img {
  max-height: 100px;
  height: auto;
  margin-left: 30px;
}

.logos .himg {
  margin-top: 30px;
  max-height: 50px;
  height: auto;
}

.text-neon-yellow {
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
    0 0 40px var(--neon-yellow), 0 0 80px var(--neon-yellow),
    0 0 90px var(--neon-yellow), 0 0 100px var(--neon-yellow),
    0 0 150px var(--neon-yellow);
  color: white;
}

.text-neon-blue {
  color: white;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
    0 0 40px var(--neon-blue), 0 0 80px var(--neon-blue),
    0 0 90px var(--neon-blue), 0 0 100px var(--neon-blue),
    0 0 150px var(--neon-blue);
  /* /* animation: pulsate 0.11s ease-in-out infinite alternate; */
}

.green-neon {
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
    0 0 40px var(--neon-green), 0 0 80px var(--neon-green),
    0 0 90px var(--neon-green), 0 0 100px var(--neon-green),
    0 0 150px var(--neon-green);
}
.text-neon {
  color: white;
  font-weight: 300;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
    0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
}
