
:root {
  /* Set neon color */
  --neon-green: #73F54B;
  --neon-pink: #f09;
  --neon-blue: #c4ffff;
  --neon-purple: #7325f0;
  --neon-yellow: #f6d465;
  --tw-space-x-reverse: 0;
  --tw-space-y-reverse: 0;
  //base font size
}

html{
/* base font for all others */
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #202936;
}

.board {
  position: relative;
  margin: auto;
}


.question {
  position: absolute;
  width: 37.125rem;
  height: 5.875rem;
  left: calc(50% - 18.75rem);
  top: 18.75rem;
  color: white;
  text-align: center;
  font-size: 2.8rem;
  text-transform: uppercase;
  padding: 0 0.025em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.questionAnswer {
  position: absolute;
  background-color: #202936;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 3.125rem;
  font-size: 2.25rem;
  text-transform: uppercase;
  /* animation: pulsate 0.11s ease-in-out infinite alternate; */

  padding: 0 0.025em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.questionAnswer .a {
  font-size: 4.375rem;
}
.questionAnswer .q {
  margin-bottom: 6.25rem;
}
.answer {
  position: absolute;
  width: 12.5rem;
  height: 6.25rem;
  text-align: center;
  font-size: 2.625rem;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  /* animation: pulsate 0.11s ease-in-out infinite alternate; */
  color: #07080a;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.answer1 {
  left: 6.25rem;
  top: 28,125rem;
}
.answer2 {
  right: 0rem;
  top: 6.25rem;
}

.result {
  position: absolute;
  top: 0;
  width: 100%;
  display:flex;
  flex-direction:column;

}

.result .a, .result .q{
  width:fit-content;
  background-color: #202936;
  padding:1.25rem;
}

.result .q {
  margin: auto;
  margin-top: 0.625rem;
  text-align: center;
  font-size: 2.25rem;
  text-transform: uppercase;
  
}

.result .a {
  margin: auto;
  margin-top: 1.25rem;
  text-align: center;
  
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  
}

.players {
  display: flex;
  margin-top: 3.75rem;
}

.group {
  width: 50%;
  height: auto;
  display: flex;
  padding: 0 1.25rem 1.25rem 1.25rem;
  justify-items: center;
  place-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.25rem 1.25rem;
}
/* .group.correct {
  background-color: var(--neon-green);
}
.group.wrong {
  background-color: var(--neon-pink);
} */
.group .player img {
  width: 6.25rem;
  height: auto;
}
.timer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 5rem;
}
.demo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-items: center;
  place-content: center;
  /* flex-wrap: wrap; */
  text-align: center;
  font-size: 1.5rem;
}
.demo .sub {
  margin-bottom: 1.25rem;
  font-size: 4.5rem;
  font-weight: 100;
}

.demo .info {
  font-size: 2.25rem;
  line-height:2.4rem;
  font-weight: 100;
}

.demo .brand {
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
  font-weight: 100;
  font-size: 6rem;
  line-height: 1;
}
.logos {
  margin-top: 0.625rem;
}
.logos img {
  max-height: 6.25rem;
  width: auto;
}
.logos :nth-child(2) {
  margin-left: 1.8rem;
}

.himg {
  margin-top: 1.8rem;
  max-width: 25rem;
  height: auto;
}


.text-neon-green {
  text-shadow: 0 0 4px #fff, 0 0 11px var(--neon-green), 0 0 19px var(--neon-green),
    0 0 40px var(--neon-green);
  color: white;
}

.text-neon-yellow {
  text-shadow: 0 0 4px #fff, 0 0 11px var(--neon-yellow), 0 0 19px var(--neon-yellow),
    0 0 40px var(--neon-yellow);
  color: white;
}

.text-neon-pink, .text-neon {
  text-shadow: 0 0 4px #fff, 0 0 11px var(--neon-pink), 0 0 19px var(--neon-pink),
    0 0 40px var(--neon-pink);
  color: white;
}

.text-neon-blue {
  color: white;
  text-shadow: 0 0 4px #fff, 0 0 11px var(--neon-blue), 0 0 19px var(--neon-blue),
    0 0 40px var(--neon-blue);
}


.green-neon {
  text-shadow: 0 0 4px #fff, 0 0 11px var(--neon-green), 0 0 19px var(--neon-green),
    0 0 40px var(--neon-green);
}
.text-neon {
  font-weight: 300;
}
