<div class="container flex">
  <div class="row text-center">
    <div class="col">
      <img class="logo" style="height: 250px" src="/img/laureate.png" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 >{{laureate.firstname}} {{laureate.surname}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="key" ng-click="up()">⇧</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="key" ng-click="left()">⇦</button
      ><button class="key" ng-click="down()">⇩</button
      ><button class="key" ng-click="right()">⇨</button>
    </div>
  </div>
</div>
