@font-face {
    font-family: Inconsolata-Regular;
    src: url(fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: Inconsolata-SemiBold;
    src: url(fonts/Inconsolata-SemiBold.ttf);
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-family: Inconsolata-SemiBold;
    text-align: center;
    white-space: nowrap;
}

p {
    font-family: Inconsolata-Regular;
    text-align: center;
    margin: 0;
}