* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #fdfdfd;
  background-color: #242423;
}

#visualization {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
